
*{margin: 0;padding: 0;}
body{background-color: #f3f1ff;   font-family :'Noto Sans KR', sans-serif;}
main{display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;}

      
p,a{font-size: 17px;font-weight:500;
    font-family: 'Times New Roman', Times, serif;color: blue;}      
    p{color:maroon;}

  /* hedar-start */
   
  
nav{background-color: #562eff;height: 90px;padding: 0px;width: 100%;margin: 0;
    display: flex;justify-content: space-between; }
.nav-bar a{color: #ffffff;font-size:21px;
  font-weight:normal;padding: 8px;font-family:Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: none;} 
.nav-bar a:hover{background-color: aqua;} 
.nav-bar:hover{background-color: black;} 
nav:hover{background-color: crimson;}
.nav-img img:hover{border: darkblue 5px dotted;}


.nav-bar{padding: 27px 6px;}
 .hedar-main{display: flex;}
.symbol{font-size: 48px;padding:7px 10px;padding-left: 230px;}

.header-title h2{color:#ffffff;font-size: 31px;font-family:monospace;font-weight: 400;
             padding: 23px 0px}

.nav-img img{width: 75px;height: 75px;border-radius: 40px;border: rgb(37, 51, 24) 3px solid;
             position: relative;right: 160px;}
.nav-img{padding: 5px 0px;}
/* players main */

  .s-title{color: #562eff;padding-bottom: 40px;
          font-size: 25px;}

  .players-main{background-color:#ffffff; 
            width: 870px;
           font-family: 'Noto Sans KR', sans-serif ;
           padding:31px;
           box-sizing: border-box;
          border-radius: 10px;
          margin-top: 30px;}  

 .players{display: grid;
             grid-template-columns: repeat(3,1fr);
             grid-row-gap: 30px;
           }
   


  .player img{padding:12px;height: 66px; width: 66px;}           
  .player h4{padding: 0 8px;}      
  .player{display: flex;
         align-items: center;}
  
   hr{border: #562eff 1px solid;margin-top: 25px;margin-bottom: 70px;}    

   /* players main end */
   /* top block start */
 
  .s-title h3{padding-bottom: 18px;} 
 .block-img img{width: 177px;
               height: 117px;}
 
 .blocks{display: grid;
         grid-template-columns:repeat(2,1fr);
         grid-row-gap: 30px;
      
    }  
    
    
 .block{display: flex;}   
 
 .block-data{margin-left: 16px;}
 .block-data h3{color: black;
                font-size: 21px;}


    /* top blogs end */
    /* latestr courses start */

    .section-2{background-color:#ffffff; 
        width: 870px;
       font-family: 'Noto Sans KR', sans-serif ;
       padding:31px;margin-top: 35px;margin-bottom: 50px;
       box-sizing: border-box;}


  .icon-main{display: flex;align-items: center; text-align: left;}     
  .courses-img img{width: 224px;
                height: 104px;margin: 0 auto;padding-right: 6px;}

  .icon{color:orangered;font-size: 16px;}                
  .duration{color: black;font-size: 12px;background-color: #dcd9f0;border-radius: 10px;padding: 1px;}   
  
  .courses{display: grid;
               grid-template-columns: repeat(3,1fr);}


    /* main end */
     /* footer start */
    
  footer{width: 100%;height: 100px;background-color: black;}   
  .bigg{color: white;
                  padding: 5px;
                 font-weight: normal;
                 text-align: center;
                 margin: 0 auto;
                 font-family:Verdana, Geneva, Tahoma, sans-serif;
                 font-size: 23px;}
 footer:hover{background-color: #562eff;}                
 article:hover{background-color: rgb(36, 16, 16);color: #dcd9f0;}      
 .google{width: 80px;height: 42px;border-radius: 30px;}          
 article{text-align: center;padding: 8px;}      


 /* media query */
 @media screen and (max-width:688px) {
nav{display:flex; justify-content: center;
   width: 100%;position: relative;height: 200px;}
   .symbol{position: relative;right: 200px;}
   .header-title{position: relative;right: 200px;bottom: 10px;}
   .nav-bar{position: relative;right: 160px;width: 200px;}
   .nav-bar a{font-size: 12px;display:grid;}
   .nav-img{position: relative;left: 106px;}

   .players-main{height: 1200px;width: 100%;display: grid;grid-template-columns:auto;padding-left: 5%;}

   .blocks{display: grid;grid-template-columns: auto;}
   .section-2{display: grid;grid-template-columns: auto;width: 100%;padding-left: 5%;}
   .courses{display: grid;grid-template-columns: auto;}
   .icon-main{padding-left: 14%;padding-top: 5px;}
 }
 